{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": [
      1,
      "always"
    ],
    "quotes": [
      1,
      "single"
    ],
    "no-console": "off"
  }
}
